.upload-btn-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 0px 0px;
  margin: 0;
  border-radius: 0px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}